body{
	background-color: #7F462C;
	font-family: sans-serif;
	height: 400px;
	text-align: center;
	padding: 2px 0 1px 0;
}
li{
	list-style-type:none;
}
.navigation,.eml,.lkd{
	background-color: #2D6580;
	color: white;
	font-size:22px;
	padding: 0.5em 2em 0.5em 0.5em;
	float: left;
}
nav{
	width:100%;
	float: left;
	padding: 0em 50em 0em 0em;
}
header{
	text-decoration: none;
	color: white;
	font-size: 52px;
}
h2{
	text-decoration: none;
	color: #7F462C;
}
a{
	text-decoration: none;
	color: white;
}
aside{
	opacity: 0.9;
	font-size: 24px;
	background-color: #807E2D;
	width: 11em;
	height: 8em;
	padding: 2em 1em 1em 1em;
	color: white;
	position:relative;
	float: left;
}
#profilepic{
	float:left;
	width:100%;
	}
#resume{
	background-color: beige;
	text-align: left;
	font-size: 0.7585em; /* 15px golden*/
	line-height: 1.517em;
	text-indent: 1.5em;
}
#resume li{
	text-indent: 3em;
}
#resume h2{
	text-indent: 1em;
}
@media (min-width: 50em){
body{
	font-family: sans-serif;
}
nav{
	width:33%;
	float: left;
	padding: 0em 50em 0em 0em;
	}
#profilepic{
	float:left;
	width:60%;
	}
}